@mixin screen($size) {
    $smallMonitor: "(min-width: 974px) and (max-width: 1400px)";
    $tablet: "(min-width: 768px) and (max-width: 1199px)";
    $tabletAndPhone: "(max-width: 1199px)";
    $phone: "(max-width: 767px)";
    $phoneLandscape: "(min-width: 443px) and (max-width: 767px) and (max-height: 450px)";
    $smallPhone: "(max-width: 393px)";

    @if $size==smallMonitor {
        @media all and #{$smallMonitor} {
            @content;
        }
    }

    @else if $size==tablet {
        @media all and #{$tablet} {
            @content;
        }
    }
    @else if $size==tabletAndPhone {
        @media all and #{$tabletAndPhone} {
            @content;
        }
    }
    @else if $size==phoneLandscape {
        @media all and #{$phoneLandscape} {
            @content;
        }
    }

    @else if $size==phone {
        @media all and #{$phone} {
            @content;
        }
    }
    @else if $size==smallPhone {
        @media all and #{$smallPhone} {
            @content;
        }
    }
    @else {
        @media all and #{$size} {
            @content;
        }
    }
}




$violetBlue: #6781d8;
$lightBlue: #a7b0cf;
$yellow: #d6b963;
@mixin flexPosition($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px 120px 30px;
    @include screen ("tablet") {
        padding: 50px 25px 60px 25px;
    }
    @include screen ("phone") {
        padding: 50px 20px 60px 20px;
    }
    @include screen ("smallPhone") {
        padding: 50px 15px 60px 15px;
    }
}

@mixin underline ($width, $height, $top, $color) {
    content: '';
    position: absolute;
    height: $height;
    width: $width;
    top: $top;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color;
    display: block;
    min-width: 47px;
}

@mixin text {
    letter-spacing: 1px;
    line-height: 28px; 
    font-size: 16px;
    @include screen ("phone"){
       font-size: 15px;
       line-height: 26px;
    }
}


@mixin sectionTitle ($textTransform, $size) {
    text-align: center;
    line-height: 30px;
    text-transform: $textTransform;
    font-weight: 700;
    font-size: $size;
    letter-spacing: 2px;
    font-family: 'Exo 2', sans-serif;
    margin-top: 0;
    
}

