@font-face {
  font-family: "SFPixelate-Bold";
  src: url("../fonts/SFPixelate-Bold.ttf") format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Punkbound";
  src: url("../fonts/Punkbound.otf") format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LCD_Solid";
  src: url("../fonts/LCD_Solid.ttf") format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@import 'normalize';
@import 'animations';
@import 'mixins';
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  background-color: #eeeeee;
  background-color: #f6f8ff; //  background-color: #fbfbfb;
  background-color: #a7b0cf;
  background-color: #d4ddfd;
  background-color: #e6ebff;
  // background-color: #b9c4ee;
  /* background-color: #fff8d0;
 background-color: #e8f2f7; */
  //  background-color: #0f0d2b; 
  //  background-color: #feffc4; 
  font-family: 'Ubuntu', sans-serif; // background-color: #19145e;
  font-weight: 300;
  color: #333333;
  font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Titillium Web', sans-serif;
    font-family: 'Exo 2', sans-serif;
    // font-family: 'Exo', sans-serif;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #131529;
  transition: opacity 400ms ease-in-out, visibility 0s 400ms;
  &__label {
    font-size: 0;
    &:before {
      animation-delay: -0.4s;
    }
    &:after {
      animation-delay: -0.3s;
    }
  }
  &:before,
  &:after,
  &__label::before,
  &__label::after {
    content: '';
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-circles 0.7s infinite ease-in-out;
    margin: 0 5px;
  }
  &:before {
    animation-delay: -0.6s;
  }
  &:after {
    animation-delay: -0.5s;
  }
}

.show-preloader {
  visibility: visible;
  opacity: 1;
}

.header {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    opacity: .2;
    background: linear-gradient(-45deg, #0f0d2b, #646ed1, #18269c, #15346d);
    background-size: 400% 400%;
    animation: Gradient 12s ease infinite;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  &:before {
    background: transparent url(../img/twinkling.png) repeat top center;
    z-index: 2;
    animation: move-twink-back 200s linear infinite;
  }
  &:after {
    background: transparent url(../img/clouds3.png) repeat top center;
    z-index: 3;
    opacity: .3;
    animation: move-clouds-back 200s linear infinite;
  }
  &__title {
    color: #fff;
    font-size: 45px;
    font-family: 'Poppins', sans-serif; // font-family: 'Exo 2', sans-serif;
    // font-family: 'Francois One', sans-serif;
    // font-family: 'Rokkitt', serif;
    // font-family: 'Space Mono', monospace;
    // font-family: 'Exo 2', sans-serif;
    // font-family: 'Share Tech Mono', monospace;
    // font-family: 'PT Mono', monospace;
    font-family: 'VT323', monospace;
    position: relative;
    top: 30vh;
    left: 20vw;
    width: 800px;
    z-index: 10000;
    &--animate {
      color: #fff;
      font-size: 85px;
      position: relative;
      font-family: 'Poppins', sans-serif; // font-family: "SFPixelate-Bold";
      // font-family: "Punkbound";
      // font-family: "LCD_Solid";
      // font-family: 'Exo 2', sans-serif; 
      // font-family: 'Black Han Sans', sans-serif;
      z-index: 10000;
      font-weight: 900;
      text-transform: uppercase;
      &:before {
        content: attr(data-text);
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 110%;
        left: 1px;
        text-shadow: -3px 0 #ffd632;
        clip: rect(24px, 550px, 90px, 0);
        animation: glitch-anim-2 6s infinite linear alternate-reverse;
      }
      &:after {
        content: attr(data-text);
        position: absolute;
        top: 10px;
        width: 100%;
        height: 110%;
        left: -1px;
        text-shadow: -3px 0 rgb(10, 57, 185);
        text-shadow: -3px 0 rgb(247, 68, 36);
        clip: rect(85px, 550px, 140px, 0); // color: #212196;
        animation: glitch-anim 5s infinite linear alternate-reverse;
      }
    }
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  opacity: .2;
  background: linear-gradient(-45deg, #0f0d2b, #646ed1, #18269c, #15346d);
  background-size: 400% 400%;
  animation: Gradient 12s ease infinite;
}

.about {
  // min-height: 100vh;
  
  // width: 100vw;
  overflow-x: hidden;
  position: relative;
  // padding-bottom: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  
  background-color: #fff;
  // z-index: 99999;
  &__container {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    padding-bottom: 350px;
    min-height: 100vh;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
  }
  &__title {

    @include sectionTitle(none, 22px);
    margin-bottom: 50px;
    font-weight: 400;
    
    order: 2;
 
    // font-family: 'Comfortaa', cursive;
  }
  &__photo-wrapper {
    width: 350px;
    height: auto;
    margin: 0 auto 0;
    position: relative;
    margin-bottom: 30px;
    order: 1;
  }
  &__photo {
    max-width: 350px;
  height: auto;
  display: block; 
  opacity: 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; // font-family: 'Oswald', sans-serif;
    font-weight: 300;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    width: 30%;
    letter-spacing: 1px;
    
    line-height: 30px; 
  }
  &__subtitle {
    @include sectionTitle(uppercase, 18px);
    position: relative;
    margin-bottom: 20px;
    
    
    &::after {
      @include underline(10%, 3px, 120%, $violetBlue);
    }
  }
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  max-width: 100%;
height: auto;
}

.skills {
  // @include container;
  min-height: 100vh;
  /* background-color: #081f24; kolor do stopki? */
  background-color: #eeeeee;
  background-color: #fbfbfb;
  background-color: #a7b0cf;
  background-color: #b9c4ee;
  background-color: #e1e7ff;
  background-color: #d4ddfd;
  background-color: #e6ebff;
  
  /* background-color: #e8f2f7; */
  //  background-color: #0f0d2b; 
  // background-color: #19145e;
  position: relative; // top: 100vh;
  // z-index: -1000;
  /* background-color: rgba(255, 255, 233, 0.658); */
  &__container {
    @include container;
  }
  
  &__title {
    @include sectionTitle(none, 25px);
    // font-family: 'Comfortaa', cursive;
    margin-bottom: 120px;
    
    position: relative;
    // text-transform: uppercase;
   
    
    &::after {
      @include underline(10%, 5px, 150%, $violetBlue);
    }

  }
  &__content {
    
  }
  &__row {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  
  &__description {
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    position: relative;
    &::after {
      @include underline(80%, 1px, 120%, #ced3ff);
    }
    
  }
  &__strong {
    font-weight: 700;
  }
  
}


.icons {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  &__item {
    // width: 150px;
    margin: 0 40px;
    text-align: center;
  
  }
  &__icon {
    width: 130px;
    height: 130px;
  }
  &__title {
    color: $violetBlue;
    // font-weight: 700;
    // font-size: 20px;
    // font-family: 'Fira Mono', monospace; 
    // font-family: 'Exo 2', sans-serif;
    @include sectionTitle(none, 20px);
    letter-spacing: .5px;
  }
}


.devicon-css3-plain-wordmark.colored {
  font-size: 250px;
  color: blue;
}




.projects {
  

  overflow-x: hidden;
  clip-path: polygon(50% 0, 100% 15%, 100% 100%, 0 100%, 0 15%);
  background-color: #fff;
  &__title {
    @include sectionTitle (none, 25px);
    position: relative;
    margin-bottom: 100px;
    &::after {
      @include underline(10%, 5px, 150%, $violetBlue);
    }
  }
  &__container {
    @include container;
    padding-top: 150px;
    
    
    
    min-height: 100vh;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.project {
  display: flex;
  width: 90%;
  &__description {
    width: 50%;
  }
  &__photo-container{
    width: 50%;
    position: relative;
    
  }
  &__title {
    margin: 0 0 30px 0;
    
  }
  &__photo {
    max-width: 100%;
    height: auto;
    width: 100%;
    
  }
  &__description {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    padding-left: 20px;
    
    text-align: center;
  }
  &__technologies {
    margin: 40px 0 0 0;
    padding: 0;
  }
  &__technology {
    display: inline-block;
    background-color: $violetBlue;
    color: #fff;
    padding: 5px 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 16px rgba(0,0,0,0.3);
  }
  &__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $violetBlue;
    opacity: .3;
    z-index: 3;
  }
  &__hiddenText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $violetBlue;
    opacity: .5;
    z-index: 0;
  }
}


.contact {
  height: 60vh;
  width: 100vw;
  position: relative;
  // top: 200vh;
  background-color: #081f24;
}

.twinkling.aa {
  opacity: 0;
}

.stars.aa {
  opacity: .3;
}

.layer.aa {
  opacity: .3;
  background: #19145e;
  animation: none;
} // div {
//   will-change: transform;
// }
