@import 'normalize';
@import 'animations';
@import 'mixins';
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  background-color: #e6ebff;
  font-weight: 300;
  color: #3d3d3d;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #131529;
  transition: opacity 400ms ease-in-out, visibility 0s 400ms;
  &__label {
    font-size: 0;
    &:before {
      animation-delay: -0.4s;
    }
    &:after {
      animation-delay: -0.3s;
    }
  }
  &:before,
  &:after,
  &__label::before,
  &__label::after {
    content: '';
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-circles 0.7s infinite ease-in-out;
    margin: 0 5px;
  }
  &:before {
    animation-delay: -0.6s;
  }
  &:after {
    animation-delay: -0.5s;
  }
}

.show-preloader {
  visibility: visible;
  opacity: 1;
}

.nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0a1233;
  background: transparent;
  color: $lightBlue;
  @include flexPosition(center, center);
  z-index: 1000;
  @include screen ("tabletAndPhone") {
    height: 70px;
  }
  &.color {
    background-color: #0a1233;
  }
  &__wrapper {
    @include flexPosition(space-between, center);
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 0 40px;
    position: relative;
    z-index: 1000;
    @include screen ("phone") {
      padding: 0 5px;
    }
  }
  &__menu {
    @include flexPosition(space-between, center);
    text-transform: uppercase;
    @include screen ("tabletAndPhone") {
      background-color: #0a1233;
      flex-direction: column;
      @include flexPosition(center, center);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 1s ease, color .5s ease;
      margin: 0;
      color: transparent;
      z-index: -1;
    }
    &.visible-menu {
      height: 600px;
      color: $lightBlue;
    }
  }
  &__item {
    margin-left: 40px;
    @include screen ("tabletAndPhone") {
      margin: 35px 0 35px 0;
      text-align: center;
    }
  }
  &__link {
    font-size: 16px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    &:hover {
      color: #fff;
    }
    &.active {
      color: #fff;
    }
    @include screen ("tabletAndPhone") {
      font-size: 23px;
    }
  }
  &__logo-img {
    width: 90px;
    height: 45px;
  }
}

.nav__burger {
  position: absolute;
  top: 50%;
  right: 40px;
  height: 36px;
  width: 60px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transform: rotate(0deg) translateY(-50%);
  transition: .5s ease-in-out;
  outline: none;
  display: none;
  &:focus>span {
    background-color: #fff;
  }
  & span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $lightBlue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  @include screen ("tabletAndPhone") {
    display: block;
  }
  @include screen ("phone") {
    right: 10px;
  }
}

.nav__burger-span:nth-child(1) {
  top: 0;
}

.nav__burger-span:nth-child(2),
.nav__burger span:nth-child(3) {
  top: 15px;
}

.nav__burger-span:nth-child(4) {
  top: 30px;
}

.nav__burger.open .nav__burger-span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.nav__burger.open .nav__burger-span:nth-child(2) {
  transform: rotate(45deg);
}

.nav__burger.open .nav__burger-span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav__burger.open .nav__burger-span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.header {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table-cell;
  z-index: 1;
  background: #000 url(../img/stars-bcg.png) repeat top center;
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: .2;
    background: linear-gradient(-45deg, #0f0d2b, #646ed1, #18269c, #15346d);
    background-size: 400% 400%;
    animation: Gradient 12s ease infinite;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  &:before {
    background: transparent url(../img/twinkling.png) repeat top center;
    z-index: 2;
    animation: twinkling 300s linear infinite;
  }
  &:after {
    background: transparent url(../img/clouds3.png) repeat top center;
    z-index: 4;
    opacity: .2;
    animation: clouds 300s linear infinite;
  }
  @include screen ("phone") {
    @include flexPosition(center, center);
  }
  &__title {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    font-family: 'VT323', monospace;
    font-weight: 700;
    position: relative;
    top: 30vh;
    left: 20vw;
    z-index: 10000;
    @include screen ("tablet") {
      font-size: 40px;
    }
    @include screen ("phone") {
      font-size: 35px;
      left: 0;
      top: -10vh;
      text-align: center;
    }
    &--animate {
      color: #fff;
      font-size: 70px;
      position: relative;
      font-family: 'Poppins', sans-serif;
      z-index: 10000;
      font-weight: 900;
      text-transform: uppercase;
      @include screen ("tablet") {
        font-size: 60px;
      }
      @include screen ("phone") {
        font-size: 55px;
      }
      @include screen ("smallPhone") {
        font-size: 50px;
      }
      &:before {
        content: attr(data-text);
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 110%;
        left: 1px;
        text-shadow: -3px 0 $yellow;
        clip: rect(24px, 550px, 90px, 0);
        animation: animTitle2 6s infinite linear alternate-reverse;
      }
      &:after {
        content: attr(data-text);
        position: absolute;
        top: 10px;
        width: 100%;
        height: 110%;
        left: -1px;
        text-shadow: -3px 0 #7c8dca;
        ;
        clip: rect(85px, 550px, 140px, 0);
        animation: animTitle 5s infinite linear alternate-reverse;
      }
    }
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  opacity: .2;
  background: linear-gradient(-45deg, #0f0d2b, #646ed1, #18269c, #15346d);
  background-size: 400% 400%;
  animation: Gradient 12s ease infinite;
}

.about {
  background-color: #fff;
  &__container {
    @include container;
    @include flexPosition(center, center);
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 170px;
    @include screen ("tabletAndPhone") {
      padding: 60px 30px 120px 30px;
    }
  }
  &__header {
    @include flexPosition(center, center);
    flex-direction: column;
  }
  &__title {
    text-align: center;
    padding: 0 250px;
    margin-bottom: 50px;
    font-weight: 400;
    order: 2;
    @include screen ("tablet") {
      padding: 0 150px;
    }
    @include screen ("phone") {
      padding: 0 10px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    @include screen ("smallPhone") {
      padding: 0 5px;
    }
  }
  &__photo-wrapper {
    width: 350px;
    height: auto;
    margin: 0 auto 0;
    position: relative;
    margin-bottom: 30px;
    order: 1;
  }
  &__photo {
    max-width: 350px;
    height: auto;
    display: block;
    opacity: 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 300;
    flex-wrap: wrap;
    @include screen("tabletAndPhone") {
      justify-content: center;
    }
  }
  &__item {
    text-align: center;
    width: 30%;
    @include text;
    font-weight: 300;
    @include screen("tablet") {
      width: 50%;
      padding: 0 40px;
    }
    @include screen("phone") {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 30px;
    }
    @include screen("smallPhone") {
      width: 100%;
      padding: 0;
    }
  }
  &__subtitle {
    @include sectionTitle(uppercase, 18px);
    position: relative;
    margin-bottom: 20px;
    &::after {
      @include underline(10%, 3px, 120%, $violetBlue);
    }
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  max-width: 100%;
  height: auto;
}

.about canvas {
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 10px
}

.skills {
  min-height: 100vh;
  background-color: #e6ebff;
  position: relative;
  &__container {
    @include container;
    max-width: 1100px;
    @include screen ("tablet") {
      padding-bottom: 100px;
    }
    @include screen ("phone") {
      padding-bottom: 60px;
    }
  }
  &__title {
    @include sectionTitle (none, 35px);
    position: relative;
    margin-bottom: 180px;
    margin-top: 0;
    @include screen ("tablet") {
      font-size: 30px;
    }
    @include screen ("phone") {
      font-size: 28px;
      margin-bottom: 120px;
    }
    &::after {
      @include underline(15%, 5px, 150%, $violetBlue);
    }
  }
  &__row {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-bottom: 20px;
    }
    @include screen ("phone") {
      margin-bottom: 80px;
    }
  }
  &__description {
    text-align: center;
    @include text;
    position: relative;
    &::after {
      @include underline(80%, 1px, 120%, #ced3ff);
      @include screen ("phone") {
        top: 110%;
      }
    }
  }
  &__strong {
    font-weight: 700;
  }
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    margin: 0 40px;
    text-align: center;
    @include screen ("phone") {
      margin: 0 20px 20px 20px;
    }
  }
  &__icon {
    width: 130px;
    height: 130px;
    @include screen ("phone") {
      width: 90px;
      height: 90px;
    }
    &--gulp {
      width: auto;
      margin: 0 20px;
    }
    &--materialize {
      height: 100px;
      width: auto;
      transform: translateY(10px);
      margin-bottom: 30px;
      @include screen ("phone") {
        height: 60px;
      }
    }
   
  }
  &__title {
    color: $violetBlue;
    @include sectionTitle(none, 20px);
    letter-spacing: .5px;
    @include screen ("phone") {
      margin-top: 0;
    }
  }
}

.projects {
  background-color: #fff;
  &__title {
    @include sectionTitle (none, 35px);
    position: relative;
    margin-bottom: 180px;
    margin-top: 0;
    @include screen ("tablet") {
      font-size: 30px;
    }
    @include screen ("phone") {
      font-size: 28px;
      margin-bottom: 120px;
    }
    &::after {
      @include underline(10%, 5px, 150%, $violetBlue);
    }
  }
  &__container {
    @include container;
    max-width: 1400px;
    min-height: 100vh;
    @include screen ("tablet") {
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.project {
  display: flex;
  width: 90%;
  color: #585858;
  flex-wrap: wrap;
  position: relative;
  @include screen ("tablet") {
    margin-bottom: 40px;
  }
  @include screen ("phone") {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
    &:last-child {
      margin-bottom: 20px;
      ;
    }
  }
  &__photo {
    width: 50%;
    position: relative;
    @include flexPosition (center, center);
    @include screen ("tabletAndPhone") {}
    &:hover .project__hiddenText {
      width: 80%;
      opacity: .7;
    }
    @include screen ("phone") {
      width: 90%;
      order: 1;
    }
    @include screen ("smallPhone") {
      width: 100%;
    }
  }
  &__title {
    margin: 0 0 30px 0;
    @include screen ("tablet") {
      margin-bottom: 10px;
    }
    @include screen ("phone") {
      position: absolute;
      top: -50px;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translateX(-50%);
      font-size: 17px;
      line-height: 20px;
    }
  }
  &__img {
    max-width: 100%;
    height: auto;
    width: 100%;
    opacity: 0;
  }
  &__photo-wrapper {
    max-width: 100%;
    height: auto;
    width: 100%;
    position: relative;
  }
  &__description {
    width: 50%;
    padding: 10px 20px;
    text-align: left;
    @include flexPosition(center, center);
    @include text;
    @include screen ("phone") {
      width: 100%;
      order: 2;
      text-align: center;
    }
    @media only screen and (max-width: 510px) {
      padding: 10px 0;
    }
  }
  &__text {
    @include screen("tablet") {
      margin-top: 0;
    }
  }
  &__technologies {
    margin: 40px 0 0 0;
    padding: 0;
    @include screen ("tabletAndPhone") {
      margin-top: 10px;
    }
  }
  &__technology {
    display: inline-block;
    background-color: $yellow;
    color: #fff;
    padding: 5px 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
    @include screen ("tabletAndPhone") {
      margin-bottom: 4px;
      font-size: 14px;
      padding: 2px 4px;
    }
  }
  &__layer {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 17px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49%);
    background-color: $violetBlue;
    opacity: 0.3;
    z-index: 5;
  }
  &__hiddenText {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    background-color: $violetBlue;
    opacity: .7;
    opacity: 0;
    z-index: 6;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icons {
    font-size: 45px;
    display: flex;
    color: #fff;
  }
  &__link {
    margin: 0 10px;
    &:focus>.project__icon {
      color: $yellow;
    }
  }
  & canvas {
    border: 1px solid #EFEFEF;
    box-shadow: 1px 1px 5px #999;
    border-radius: 5px;
    padding: 10px;
  }
}

.contact {
  position: relative;
  color: #fff;
  background: #000 url(../img/stars-bcg.png) repeat top center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    background: linear-gradient(-45deg, #0f0d2b, #18269c, #15346d);
    background-size: 1000% 200%;
    z-index: 2;
  }
  &__container {
    @include container;
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    @include flexPosition(center, center);
    flex-direction: column;
  }
  &__header {
    width: 100%;
  }
  &__title {
    @include sectionTitle(none, 35px);
    position: relative;
    margin-bottom: 80px;
    &::after {
      @include underline(10%, 5px, 150%, $violetBlue);
    }
    @include screen ("tablet") {
      font-size: 30px;
    }
    @include screen ("phone") {
      font-size: 28px;
      margin-bottom: 100px;
    }
  }
  &__subtitle {
    font-weight: 700;
  }
  &__email-adress {
    font-weight: 700;
    color: #b9c4ee;
  }
}

.form {
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  &__input {
    width: 100%;
    height: 40px;
    margin: 3px 0 10px 0;
    background-color: #26316c;
    opacity: .6;
    border: none;
    color: #fff;
    padding: 0 0 0 10px;
    font-weight: 300;
    font-size: 14px;
    &--message {
      height: 150px;
      padding: 10px 0 0 10px;
    }
    &.validate-warning {
      border-bottom: 1px solid rgb(116, 0, 0);
    }
  }
  &__label {
    display: block;
    text-align: left;
    color: #a7b0cf;
    font-weight: 700;
  }
  &__button {
    display: block;
    width: 180px;
    margin: 20px auto 0 auto;
    background-color: transparent;
    color: $yellow;
    border: 2px solid $yellow;
    padding: 15px 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: .3s;
    &:hover {
      background-color: $yellow;
      color: #121839;
      border: 2px solid #121839;
      cursor: pointer;
    }
  }
  &__warning-text {
    color: rgb(116, 0, 0);
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 13px;
    display: none;
  }
}

.visible {
  display: block;
}

.footer {
  background-color: #0a1233;
  padding: 20px 0;
  @include flexPosition(center, center);
  flex-direction: column;
  color: #b9c4ee;
  &__text {
    margin: 20px 0 0 0;
  }
  &__icon {
    margin: 0 5px;
    font-size: 30px;
    &:hover {
      color: #fff;
    }
  }
  &__link {
    outline: none;
    &:focus>.footer__icon {
      color: #fff;
    }
  }
}